.comments {

  @media print {
    display: none;
  }

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 0px 0 20px;

    &-h {
      text-align: center;
      font-weight: bold;
      margin: 0 auto;
      padding: 5px 10px;
      background: #081216;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      z-index: 1;
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }

  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}