@font-face {
  font-display: swap;
  font-family: 'Helvetica';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Helvetica-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/Helvetica-Bold.woff") format("woff");
  font-display: swap;
}
