/* COLOR VARIABLES */
$background: #081216;
$color: rgba(255, 255, 255, 0.875);
$border-color: rgb(192, 79, 83);

/* MEDIA QUERIES */
$phone: "max-width: 684px";
$tablet: "max-width: 900px";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
